body {
    background-color: #10325b;
    color: rgba(253, 254, 241, 1);
    padding: 10%;
}
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
}
h1 {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 300%;
    flex-grow: 1;
}
nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
}
button {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: inherit;
    color: inherit;
    border-style: solid;
    border-color: #10325b;
    border-radius: 5px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 100%;
    padding: 8px 32px;
}